.App{
  margin-top: 20px;
}

.label-form{
  width: 100px;
}
.form-control{
  width: 210px;
}
h2{
  margin-top: 30px;
  margin-bottom: 30px;
}

.card{
  border:none;
}
.broad{
  margin: 10px;
  width: 220px;
  height: 160px;
  padding: 5px;
  background:  lightgray;
float: left;
font-size: 11px;
text-align: left;
margin-bottom: 30px;
}
