.App {
  margin-top: 20px;
}

.label-form {
  width: 100px;
}
.form-control {
  width: 210px;
}
h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-new {
  width: 120px;
}

/* .card {
  width: 20rem;
  margin-top: .5rem;
  margin-left: .5rem;
} */

.input-form{
  width: 15rem;
}

@media (max-width: 1200px) {
  .card {
    width: 10rem;
  }

  .input-form {
    width: 10rem;
  }
}

@media (max-width: 767px) {
  .d-sort {
    flex-direction: column;
  }
  .btn-new {
    width: 290px;
    margin-bottom: 10px;
  }
  .form-control {
    width: 160px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
