.App {
  margin-top: 20px;
}

.label-form {
  width: 100px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-new {
  width: 120px;
}

.label-form {
  width: 200px;
  }

  .card.bg-light.text-dark.border-dark {
margin: 14px 0px;
}

